<plist>
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.h2co3.carbonatejson</string>
	<key>CFBundleName</key>
	<string>CarbonateJSON</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleExecutable</key>
	<string>CarbonateJSON</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
</dict>
</plist>

